{
  "env": {
    "webpack": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["> 10%"]
          }
        }]
      ]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "node": "9.0.0"
      }
    }],
    "stage-1",
    "react",
    "flow"
  ],
  "plugins": [
    "relay"
  ]
}
